{% extends 'base.html' %}

{% block title %}
Edit Student
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="card shadow border-0">

        <div class="card-header bg-warning">

            <h4>

                <i class="fas fa-edit"></i>

                Update Student

            </h4>

        </div>

        <div class="card-body">

            <form method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-warning">

                    Update

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}